html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  margin: 0 auto;
  width: 100%;
}
* {
  padding: 0;
  margin: 0 0;
  box-sizing: border-box;
}
.container{
  width: 1200px;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  padding: 0 0;
  color: #222222;
}
@media screen and (max-width: 1440px){
  section, .main, .header, footer, menu {
    width: 100% !important;
}
  .container{
    width: 1200px;
  }
}
@media screen and (max-width: 1200px){
  section, .main, .header, footer, menu {
    width: 100% !important;
}
  .container{
    width: 960px;
  }
}
@media screen and (max-width: 960px){
  
  .container{
    width: 720px;
  }
}
@media screen and (max-width: 720px){
  .main-map {
    width: 100% !important;
  }
  .container{
    width: 480px;
  }
}
@media screen and (max-width: 480px){
  .container{
    width: 320px;
    padding: 0 15px;
  }
}